.info {
  display: none;
}

.grid {
  width: 600px;
  background: none;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);
  display: grid;
  border: 1px solid $color-light;
  cursor: pointer;
  margin-top: -250px;
  z-index: 15;
  margin-bottom: 200px;
}

.cell {
  border: 2px solid $color-light;
}

.cell:hover {
  background-color: $color-light;
  opacity: 0.1;
}

.selected-cell {
  background-color: $color-main;
}

.start-cell {
  background-color: $color-success;
}

.end-cell {
  background-color: $color-danger;
}

.step-wrapper {
  position: relative;
}

.step-header {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: -450px;
  opacity: 0;
  z-index: 15;
}

.btn-primary {
  color: $color-light;
  background-color: $color-main;
  border-color: $color-main;
  border-radius: 0;
  width: 280px;
  font-family: $font-main;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: $font-semibold;
  color: $color-light;
}

.btn-primary:hover {
  @extend .btn-primary;
}

.btn {
  margin-top: -280px;
}

.step-button {
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0;
  z-index: 20;
}

.step-active {
  opacity: 1;
  z-index: 25;
}

@media (min-width: 1440px) and (max-width: 1700px) {
  .step-header {
    margin-top: -350px;
  }

  .grid {
    margin-top: -250px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .step-header {
    margin-top: -250px;
  }

  .grid {
    margin-top: -150px;
    width: 400px;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    display: grid;
  }

  .cell {
    border: 1px solid $color-light;
  }

  .btn-primary {
    width: 200px;
    font-size: 14px;
    letter-spacing: 3px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .finder-wrapper {
    display: none;
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-light;
    width: 400px;
    height: 200px;
    border: 2px solid $color-light;
    z-index: 15;
    margin: 100px 0 200px 0;
    background: $color-main;
  }
}

@media (max-width: 767px) {
  .finder-wrapper {
    display: none;
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-light;
    width: 200px;
    height: 100px;
    border: 2px solid $color-light;
    z-index: 15;
    margin: 50px 0 100px 0;
    background: $color-main;
  }
}
